

#tituloPag{
    text-align: center;
    font-size: 75px;
}
button{
    display: block;
    margin: 50px;
    padding: 20px;
    text-align: center;
    border-width:30px;
    border-style:solid;
    border-color:red;
}