
.margemElemntTitulo{
    margin-left: 15px;
}
.margemElemnt{
    margin-left: 25px;
}
#tituloPag{
    text-align: center;
    font-size: 75px;
    border-bottom-width:5px;
    border-bottom-style:groove;
    border-bottom-color:black;
}
#conteudo{
    border-bottom-width:5px;
    border-bottom-style:groove;
    border-bottom-color:black;
}
#logo{
    width: 150px;
}
button{
    display: inline ;
    margin: 30px !important;
    padding: 20px;
    text-align: center;
    border-width:5px;
    border-style:double;
    border-color:red;
    width: 20%;
}
#resolucaoPrimeira{
    width:100%;
    height: 51px;
}
#resolucaoPrimeira p{
    display: inline;
}

#resolucaoSegunda{
    width: 100%;
    height: 51px;
    margin-top: 20px;
}
#resolucaoSegunda p{
    display: inline;
}


#resolucaoTerceira{
    width: 285px;
    height: 51px;
    margin-top: 20px;
}


#resolucaoQuarta{
    width: 285px;
    height: 51px;
    margin-top: 20px;
}



#respostas h3{
    margin-left: 50px;
    width: 190px;
    float: left;
}