
.margemElemntTitulo{
    margin-left: 15px;
}
.margemElemnt{
    margin-left: 25px;
}
#tituloPag{
    text-align: center;
    font-size: 75px;
    border-bottom-width:5px;
    border-bottom-style:groove;
    border-bottom-color:black;
}
#conteudo{
    border-bottom-width:5px;
    border-bottom-style:groove;
    border-bottom-color:black;
}
#logo{
    width: 150px;
}
button{
    display: inline ;
    margin: 30px !important;
    padding: 20px;
    text-align: center;
    border-width:5px;
    border-style:double;
    border-color:red;
    width: 20%;
  
}